@model IEnumerable<SalesDataAnalysisPlatformMVC.Data.Sale>

<h2>Lista de Ventas</h2>

<p>
    <a asp-action="Create">Agregar Nueva Venta</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SaleID</td>
                <td>@item.ClientID</td>
                <td>@item.DateSale.ToShortDateString()</td>
                <td>@item.Amount</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SaleID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.SaleID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.SaleID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>